<div class="card cardmargin" style="width: 80rem;">

    <div class="row">
        <a class="btn btn-primary" routerLink="/regprod-owl" role="button">Back to List </a>
      <!-- <a class="btn btn=primary" routerLink="/regprod-owl">Back to List</a> -->
    </div>
    <!-- <div>
      <div class="form-group">
        <label>Serial ID</label>
        <div class="form-control">{{regprod.serialid}}</div>
      </div>
      <div class="form-group">
        <label>E-Mail</label>
        <div class="form-control">{{regprod.email}}</div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <div class="form-control">{{regprod.phone}}</div>
      </div>
      <div class="form-group">
        <label>Bike Model</label>
        <div class="form-control">{{regprod.refproductid}}</div>
      </div>
      <div class="form-group">
        <label>Bike Serial Number</label>
        <div class="form-control">{{regprod.purchase_date}}</div>
      </div> -->
      <!-- <div class="form-group">
        <label>Purchase Price</label>
        <div class="form-control">{{bikeReg.purchasePrice}}</div>
      </div> -->
      <!-- <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{bikeReg.purchaseDate}}</div>
      </div> -->
    <!-- </div> -->

    
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Registered Product ID</label>
          <div class="form-control" >{{regprod.id}}</div>
          </div>
        </div>
        <div class="col">
          
          <label class="font-weight-bold"></label>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3BM8jgqNaqi2l9Z-ev1QQOJcisrhmQkdZRQ&usqp=CAU" width=200px height=200px> 
          
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Serial ID</label>
          <div class="form-control" >{{regprod.serialid}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Account ID</label>
          <div  class="form-control">{{regprod.customerid}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold"></label>
          <div class="form-control" >{{regprod.purchase_date}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Country</label>
          <div  class="form-control">{{regprod.country}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Pincode</label>
          <div class="form-control" >{{regprod.pincode}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Address Line 1</label>
          <div  class="form-control">{{regprod.addr1}}</div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Address Line 2</label>
          <div class="form-control" >{{regprod.addr2}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
          <label class="font-weight-bold">Email</label>
          <div  class="form-control">{{regprod.email}}</div>
          </div>
        </div>
      </div>

  </div>


  